.settings-setting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.settings-container {
  display: flex;
  height: 100vh;
}

.settings-sidebar {
  position: relative;
}

.settings-sidebar-container {
  position: relative;
}

.settings-content-container {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
}

.settings-page-container {
  background-color: var(--bg2);
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings-page-title {
  font-size: 1.8em;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.settings-line {
  width: 95%;
  background-color: var(--bg3);
  border-radius: 8px;
  height: 4px;
}

.settings-text-space {
  background-color: var(--bg3);
  padding: 4px 8px 4px 8px;
  border-radius: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.settings-mini-container {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 600px;
}

.settings-save-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.settings-save-content {
  display: flex;
  background-color: var(--bg4);
  border-radius: 12px;
  align-items: center;
  padding: 4px 6px 4px 6px;
  gap: 8px;
}

.settings-save-buttons {
  display: flex;
  gap: 8px;
}

.settings-save-title {
  font-size: 1.1em;
  font-weight: 500;
}