.settings-setting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.settings-container {
  display: flex;
  height: 100vh;
}

.settings-sidebar {
  position: relative;
}

.settings-sidebar-container {
  position: relative;
  z-index: 10;
}

.settings-content-container {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
}

.settings-page-container {
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings-page-title {
  font-size: 1.8em;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.settings-line {
  width: 95%;
  height: 4px;
}

.settings-text-space {
  padding: 4px 8px 4px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.settings-mini-container {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 600px;
}

.settings-save-content {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 10px;
  gap: 8px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  translate: -50%;
}

.settings-save-buttons {
  display: flex;
  gap: 8px;
}

.settings-save-title {
  font-size: 1.2em;
  font-weight: 500;
}

.settings-setting-seekbar-container {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.settings-helpicon-space {
  display: flex;
  align-items: center;
  gap: 8px;
}

.settings-sidebar-container .sidebar-container-max .sidebar-bottom {
  margin-bottom: 64px;
}

.settings-table-extensions {
  width: 100%;
  border-collapse: collapse;
}

.settings-container-extensions {
  width: 100%;
  margin: 12px;
  min-height: 500px;
  background-color: var(--bg2);
  border-radius: 12px;
}

.settings-extensions-button {
  width: 40px;
  height: 40px;
  justify-content: center;
}

th, td {
  padding: 6px;
}

th {
  font-size: 1.2em;
  border: 3px solid var(--bg4);
}

td {
  font-size: 1.1em;
  padding: 8px;
}

.settings-extensions-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-table-button {
  cursor: pointer;
  border-radius: 12px;
}

.settings-table-button:hover {
  background-color: var(--bg4);
}

.settings-extensions-icon {
  width: 40px;
  height: 40px;
}

.settings-extensions-background {
  background-color: var(--bg3);
  width: max-content;
  padding: 4px;
  border-radius: 6px;
}

.settings-extensions-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

/* for smartphones 
maybe that will be usefull in the future */
@media (max-width: 600px) {

    .settings-container .sidebar-logo-icon-container,
    .settings-container .sidebar-container-max {
        width: 130px;
    }
    
    .settings-content-container {
      font-size: 0.8em;
    }

    .settings-setting-seekbar-container {
      width: 60%;
    }
}