button{
  border: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.1s ease;
}
.button-icon {
  width: 40px;
  height: 40px;
  font-size: 0px;
}

.button-icon-text {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: start;
  font-size: small;
  gap: 0.5em;
}

button .text-button {
  color: inherit;
}
