button{
  background-color: var(--primary-200);
  color: var(--primary-800);
  border: none;
  border-color: var(--primary-800);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease;
}
.icon-button {
  width: 40px;
  height: 40px;
}
.backlight:hover {
  background-color: var(--primary-800);
  color: var(--primary-200);
  border-color: var(--primary-200);
}
.text-button:hover {
  color: var(--primary-200);
}
.active {
  background-color: var(--primary-800);
  color: var(--primary-200);
  border-color: var(--primary-200);
}
.active:hover {
  background-color: var(--primary-200);
  border-color: var(--primary-800);
  color: var(--primary-800);
}
