button{
  background-color: var(--primary-200);
  color: var(--primary-800);
  border: none;
  border-color: var(--primary-800);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.1s ease;
}
.button-icon {
  width: 40px;
  height: 40px;
  font-size: 0px;
}

.button-icon-text {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: start;
  gap: 1em;
}

button .text-button {
  color: inherit;
}

.backlight:hover{
  background-color: var(--primary-800);
  color: var(--primary-200);
  border-color: var(--primary-200);
}

.active {
  background-color: var(--primary-800);
  color: var(--primary-200);
  border-color: var(--primary-200);
}
.active:hover {
  background-color: var(--primary-200);
  border-color: var(--primary-800);
  color: var(--primary-800);
}
