.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  gap: 0.5em;
}

.checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 40px;
  height: 20px;
  outline: none;
  border-radius: 20px;
  transition: 0.2s;
  margin-right: 1.5em;
}
.checkbox::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  transition: scale(1.1);
  transition: 0.2s;
}

.checkbox:checked:before {
  left: 20px;
}
