.home {
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-rows: 1fr 100fr;
    grid-template-columns: 0fr 100fr;
    grid-template-areas: "header header" "sidebar content"; */
    overflow: auto;
    z-index: 1;
    overflow-x: hidden;
}

.home-header-container {
    padding: 12px;
    display: flex;
    gap: 24px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.home-header-container.active {
    background-color: var(--bg2);
}

.home-header-search {
    display: flex;
    gap: 12px;
    align-items: center;
}

.home-content {
    width: 100%;
    height: 100%;
}

.home-header-background {
    background-color: color-mix(in srgb, var(--bg) 90%, transparent) !important;
    border-color: var(--invisible) !important;
}

.home-header-background:hover {
    border-color: var(--neutral1) !important;
}

.home-header-shadow {
    height: 50px;
    padding: 12px;
}

.home-container,
.home-loading-container {
    grid-area: content;
    padding: 12px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-x: hidden;
    padding-right: 0px;
}

.home-loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-loading-animation {
    font-size: 3em;
    animation: spin 1s linear infinite;
}

.home-error-container,
.home-empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
    gap: 8px;
}

.home-error-icon,
.home-empty-icon {
    font-size: 2em;
}

/* for very small window sizes */
@media (max-width: 600px) {
    .home-header {
        padding-right: clamp(4px, 1vw, 8px);
        display: flex;
    }
    .home-header-search {
    min-width: calc(100vw - 185px);
	box-sizing: border-box;
    }
    
    .home-header-right {
        margin: 0px;
        display: none;
    }
    
    .home-header-left {
        margin-right: 2px;
        justify-content: space-between;
    }


}