/* Container */
.home-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.home-main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 8px;
    gap: 4px;
}

.home-notification-container {
    user-select: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    gap: 8px;
}

.home-error-notification {
    width: 60%;
    font-size: 0.9em;
}

.icon {
    font-size: 2em !important;
    user-select: none;
}

/* HEADER */
.home-header-background {
    background-color: color-mix(in srgb, var(--bg) 90%, transparent) !important;
    border-color: var(--invisible) !important;
}

.home-header-background:hover {
    border-color: var(--neutral1) !important;
}

.home-header-container {
    padding: 12px;
    display: flex;
    gap: 24px;
    position: fixed;
    align-items: center;
    width: 100%;
    z-index: 2;
    grid-area: header;
    transition: background-color 150ms ease-in-out;
    z-index: 2;
}

.home-header-container.active {
    background-color: var(--bg2);
    position: static;
}

.home-header-container.color { 
    background-color: var(--bg2);
}

.home-header-background.color {
    background-color: var(--bg3) !important;
}

.home-header-search {
    display: flex;
    gap: 12px;
    align-items: center;
}

.home-header-right {
    display: flex;
    margin-left: auto;
    gap: 16px;
}