.card-container {
    position: relative;
    height: min-content;
    width: 155px;
    min-width: 155px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    box-sizing: border-box;

    scroll-snap-align: start;
    transition: transform 0.3s ease;
    user-select: none;
    z-index: -1;

    opacity: 0;
    transform: translateY(-20px);
}

.card-container.show {
    z-index: 1;
    opacity: 1;
    transform: translateY(0px);
}

.card-image, .card-image-placeholder {
    max-width: 260px;
    max-height: 220px;
    width: max-content;
    height: max-content;
    aspect-ratio: 2 / 3;
    z-index: 1;
}

.card-image-placeholder {
    width: max-content;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card-title {
    font-size: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    width: 100%;
}

.card-continue-watch-text {
    font-size: 0.7em;
}

.card-information {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 0;
    z-index: 10000;

    width: 240px;
    padding: 12px;
    margin-top: 8px;
    gap: 4px;
    animation: firstShow 0.1s ease forwards;
}

.card-information-score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.card-information-left {
    right: 1;
    left: 0;
    margin-left: -280px;
    margin-right: 0px;
    position: absolute;
}

.card-information-right {
    top: 0;
    left: 170px;
    z-index: 10000;
    position: absolute;
}

.card-container:hover .card-information {
    display: flex;
}

.card-container:hover {
    z-index: 7;
}

.card-dot {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-information-text {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1em;
    gap: 4px;
}

.card-information-top {
    font-size: 1.1em;
    font-weight: 600;
}

/* For smaller devices / window sizes */
@media (max-width: 600px) {
    .card-information, .card-information-left, .card-information-right {
        display: none !important;
    }
}