.card-container {
    position: relative;
    height: min-content;
    width: 155px;
    min-width: 155px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    box-sizing: border-box;

    scroll-snap-align: start;
    transform: scale(1);
    transition: transform 0.3s ease;
    user-select: none;
    z-index: 1;
}

.card-container:hover {
    transform: scale(1.02);
}

.card-image, .card-image-placeholder {
    max-width: 260px;
    max-height: 220px;
    width: max-content;
    height: max-content;
    aspect-ratio: 2 / 3;
    z-index: 1;
}

.card-image-placeholder {
    width: max-content;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card-title {
    font-size: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.card-continue-watch-text {
    font-size: 0.7em;
}

.card-delete-icon {
  display: none;
  position: absolute;
  padding: 4px;
  top: 0;
  right: 1;
  left: 0;
  z-index: 10000;
  margin: 1px;
}

.card-container:hover .card-delete-icon {
  display: block;
} 

/* TODO: Adding colors, borders, transition to the DarkAnimu File*/
/* TODO: Fix information dosen't show out of container */
.card-information {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 0;
    background-color: var(--bg2);
    z-index: 10000;

    border: solid 2px var(--neutral1);
    border-radius: 12px;
    width: 240px;
    padding: 12px;
    margin-top: 8px;
    gap: 4px;
}

.card-information-score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--bg2);
    border: 2px solid var(--neutral1);
    position: absolute;
    top: -10px;
    right: -10px;
}

.card-information-left {
    right: 1;
    left: 0;
    margin-left: -280px;
    margin-right: 0px;
    position: absolute;
}

.card-information-right {
    top: 0;
    left: 170px;
    z-index: 10000;
    position: absolute;
}

.card-container:hover .card-information {
    display: flex;
}

.card-container:hover {
    z-index: 7;
}

.card-dot {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-information-text {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1em;
    gap: 4px;
}

.card-information-top {
    font-size: 1.1em;
    font-weight: 600;
}