.container-title, .container-title-click {
    font-weight: 600;
    font-size: 1.6em;
    width: max-content;
    padding: 2px 8px 2px 8px;
    border-radius: 12px;
}

.container-title-click {
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.container-data {
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    height: 100%;
    width: 100%;
}

.container-data-horizontal {
    display: flex;
    gap: 12px;
    height: max-content;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.container-data-horizontal::-webkit-scrollbar {
    display: none;
}

.container-left-skip-button, .container-right-skip-button {
    width: max-content;
    height: max-content;
    z-index: 2;
    margin-bottom: 25px;
    position: absolute;
    display: none;
}

.container-left-skip-button {
    left: 0;
    margin-left: 10px;
    margin-bottom: 30px;
}
.container-right-skip-button{
    right: 0;
    margin-right: 20px;
    margin-bottom: 30px;
}

.container-button-container {
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
    z-index: 0;
}

.container-button-container:hover .container-left-skip-button {
    display: block;
}

.container-button-container:hover .container-right-skip-button {
    display: block;
}

.container-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.container-loading {
    font-size: 3em;
    animation: spin 1s linear infinite;
}

.container-error {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}