.home-filter-void {
    display: flex;
    flex-direction: column;
}

.home-filter-container {
    z-index: 999;
    margin-top: 60px;
    margin-left: 0px;
    display: flex;
    position: fixed;
    padding: 12px;
    gap: 8px;
    translate: -38%;
    flex-direction: column;
}

.home-filter-container-horizontal {
    margin-left: -270px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    translate: 0px 0px;
}

.home-filter-container-horizontal-new {
    margin-left: -270px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    translate: 0px 0px;
    flex-wrap: wrap;
    width: 515px;
    padding: 20px;
}

.home-filter-space {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* For smaller devices / window sizes */
@media (max-width: 1000px) {
    .home-filter-container-horizontal {
       margin-left: 0px;
       translate: -50% 0px; 
       left: 50%;
    }
}
@media (max-width: 925px) {
    .home-filter-container-horizontal {
        flex-wrap: wrap;
        width: 340px;
    }
}
/* for smartphones 
maybe that will be usefull in the future */
@media (max-width: 600px) {
    .home-filter-container {
        translate: -145%;
    }
}