node_modules/.package-lock.json
node_modules/.bin/tauri
node_modules/@tauri-apps/cli/append-headers.js
node_modules/@tauri-apps/cli/build.rs
node_modules/@tauri-apps/cli/Cargo.toml
node_modules/@tauri-apps/cli/CHANGELOG.md
node_modules/@tauri-apps/cli/config.schema.json
node_modules/@tauri-apps/cli/index.d.ts
node_modules/@tauri-apps/cli/index.js
node_modules/@tauri-apps/cli/LICENSE_APACHE-2.0
node_modules/@tauri-apps/cli/LICENSE_MIT
node_modules/@tauri-apps/cli/main.d.ts
node_modules/@tauri-apps/cli/main.js
node_modules/@tauri-apps/cli/package.json
node_modules/@tauri-apps/cli/README.md
node_modules/@tauri-apps/cli/tauri.js
node_modules/@tauri-apps/cli/__tests__/template.spec.ts
node_modules/@tauri-apps/cli/__tests__/fixtures/empty/package.json
node_modules/@tauri-apps/cli/__tests__/fixtures/empty/dist/index.html
node_modules/@tauri-apps/cli/src/lib.rs
node_modules/@tauri-apps/cli-linux-x64-gnu/cli.linux-x64-gnu.node
node_modules/@tauri-apps/cli-linux-x64-gnu/package.json
node_modules/@tauri-apps/cli-linux-x64-gnu/README.md
package-lock.json
node_modules
