/* Main Container */
.information {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
}

.information-score {
    z-index: 1000;
    /*width: 30px;
    height: 30px;
    padding: 8px;*/
    width: clamp(20px, 1vw, 30px);
    height: clamp(20px, 1vw, 30px);
    padding: clamp(4px, 1vw, 12px);
    
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -13px;
    margin-left: -12px;
}

.information-bar {
    margin-right: -90px;
    margin-top: -20px;
    padding: 8px;
    gap: 6px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: max-content;
}

/* banner related classes */
.information-banner {
    width: 100%;
    height: clamp(222px, 43%, 35vh);
    max-height: 43vw;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    user-select: none;
}

.information-fade {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    position: absolute;
}

.information-banner-image,
.information-banner-image-placeholder,
.information-banner-image-blur {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.information-banner-image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-banner-image-blur {
    filter: blur(3px);
}

/* container for most things */
.information-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2dvh;
}

.information-top {
    width: 88%;
    height: fit-content;
    display: flex;
    margin-top: clamp(202px, 43% - 22px, 35vh - 25px);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.information-image-container {
    margin-top: min(-3%, -60px);
}

.information-episodes-button {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.information-cover, .information-cover-placeholder {
    max-width: 240px;
    max-height: 240px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    aspect-ratio: 2 / 3;
}

.information-cover-placeholder {
    height: 220px;
    cursor: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2 / 3;
    user-select: none;
}

.information-cover:hover {
    transform: scale(1.05);
}

.information-title {
    font-weight: bold;
    font-size: 1.7em;
}

.information-title-small {
    display: none;
}

.information-mini-title {
    font-size: 0.75em;
    width: 90%;
    margin-bottom: 10px;
}

.information-title-small2 {
    display: none;
}

.information-bottom {
    margin-top: 20px;
    width: 88%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.information-bottom-content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
}

.information-info {
    padding: 12px;
    width: min-content;
    height: min-content;
    display: flex;
    gap: 12px;
    flex-direction: column;
    min-width: 160px
}

.information-info-content {
       overflow: hidden; 
    padding: 14px 10px;
}

.information-info-content.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-content-title {
    font-weight: bold;
    padding-bottom: 6px;
}

.information-episodes {
    width: 100%;
    min-height: 25px;
    height: min-content;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
    z-index: 2;
}

.information-exit-button {
    position: fixed;
    z-index: 7;
    top: 8px;
    left: 8px;
}

.information-text-container {
    overflow: hidden;
    width: 100%;
}

.information-description {
    line-height: 1.3;
    height: max-content;
    max-height: 140px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.information-description.moretext {
    height: 100%;
    max-height: none;
}

.information-description-toggle {
    display: none !important; 
    user-select: none;
    cursor: pointer;
    position: relative;
    padding-top: 20px;
    margin-top: -30px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1em;
    background: linear-gradient(to top, var(--second-layer), transparent);
}

.information-description-toggle.show {
    display: flex !important;
}

.information-buttons-episode-container {
    display: flex;
    justify-content: start;
    gap: 0.5em;
    flex-wrap: wrap;
    padding: 12px;
}

.information-episode-button {
    padding: 12px;
    width: clamp(10px, 1.5vw, 20px);
    height: clamp(10px, 1.5vw, 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.information-loading {
    font-size: 3.2em !important;
    animation: spin 1s linear infinite;
}

.information-loading-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px 0px;
    user-select: none;
    font-size: 1.2em;
}

.information-error {
    font-size: 2em !important;
}

.information-select-episode {
    padding: 6px;
    width: fit-content;
    margin-top: -20px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    user-select: none;
}

.information-containerwrong-error {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.information-episodes-top-content {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.information-episodes-space {
    display: flex;
    gap: 8px;
    align-items: center;
}

.information-dot {
    font-size: 2em;
}

.information-episodes, .information-characters, .information-info {
    animation: firstShow 0.2s ease forwards;
}

/* JEBAĆ OVERFLOW */
.information-relation-container {
    background-color: var(--second-layer);
    border-radius: 12px;
    padding: 8px;
    display: flex;
    gap: 12px;
    overflow-x: auto;
}

.information-recomendation-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.information-animulist-container {
    background-color: var(--second-layer);
    padding: 12px;
    border-radius: 12px;
    display: flex;
    gap: 12px;
}

.information-eopsodes-top-left {
    display: flex;
    gap: 8px;
}

.information-right-bar, .information-genres-container {
    display: flex;
    flex-direction: column;
}

.information-genres-container {
    padding: 12px 0px;
    gap: 4px;
    overflow: hidden;
}

.information-genre-button {
    width: 88%;
    background-color: var(--second-layer);
    padding: 8px;
    border-radius: 12px;
    border: 2px solid var(--invisible);
    transition: 150ms all ease-in-out;
    cursor: pointer;
}

.information-genre-button:hover {
    border-color: var(--green-one);
}

.information-genre-title {
    font-size: 1.2em;
    margin-left: 4px;
    padding-bottom: 6px;
    font-weight: 800;
}

/* For smaller devices / window sizes */
@media (max-width: 1000px) {
    .information-top {
        width: 100%;
        margin-top: 0px;
        padding: 10px 15px 10px 20px;
        gap: 20px;
    }

    .information-bottom {
        margin-top: 0px;
        width: 100%;
    }

    .information-banner, .information-banner-image {
        position: relative;
        height: fit-content;
        max-height: 250px;
        aspect-ratio: 19/4;
    }

    .information-fade {
        aspect-ratio: 19/4;
    }

    .information-bottom {
        flex-direction: column;
    }
    
    .information-bottom-content {
        padding: 0px max(1dvw, 10px);
    }

    .information-info {
        /*display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-auto-flow: column;*/
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 98%;
        overflow-x: auto;
    }

    .information-image-container {
        margin-top: -40px;
    }

    .information-cover {
        max-height: 220px;
    }

    .information-info-content {
        flex-flow: row;
        font-size: 0.6em;
        width: fit-content;
        min-width: 120px;
    }

    .information-content-title {
        font-size: 1.1em;
    }

    .information-episodes {
        width: 100%;
        align-self: center;
        margin-bottom: 15px;
    }

    .information-description {
        font-size: 0.9em;
    }
    
    .information-bar {
        margin-right: 0px;
        margin-top: 0px;
        padding: 0px;
        gap: 4px;
    }
    
    .information-score {
        font-size: clamp(0.85rem, 1.8vw, 1rem);
    }
    
}

/* for very small window sizes */
@media (max-width: 600px) {
    .information-top {
        width: 100%;
        padding: 15px;
        gap: 15px;
        flex-direction: column;
    }

    .information-bottom {
        width: 100%;
        margin-top: 0px;
    }

    .information-banner, .information-fade {
        width: 100%;
        height: max(10vh, 100px);
    }

    .information-bottom {
        flex-direction: column;
    }

    .information-bottom-content {
        padding: 0px;
    }

    .information-info {
        overflow: scroll;
    }

    .information-image-container {
        margin-top: 0px;
        display: flex;
    }

    .information-cover {
        max-height: 150px;
    }

    .information-info-content {
        padding: 8px 5px;
        /* font-size: 0.5em; */
        flex-flow: row;
    }

    .information-episodes {
        align-self: center;
    }

    .information-description {
        font-size: 0.8em;
    }
    
    .information-title, .information-title2 {
        display: none;
    }

    .information-title-small {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
        padding-left: 5dvw;
    }

    .information-title-small2 {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 0.95rem;
        padding-left: 6dvw;
        padding-top: 15px;
    }
    
    .information * .button {
        padding: clamp(4px, 2vw, 20px);
    }

    .information-bar {
        flex-direction: row;
    }

    .information-exit-button {
        padding: 6px;
        right: 15px;
        left: unset;
    }

}