* {
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
  user-select: none;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.loading {
  font-size: xx-large;
  animation: spin 1s linear infinite;
}

.AnimuIcon {
  width: 38px;
  height: 38px;
}

.loaded {
  opacity: 1;
}

.hidden {
  opacity: 0;
  user-select: none;
  width: 0px;
  height: 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.Toastify__toast {
  border-radius: 8px;
  padding: 16px;
  color: var(--text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 500;
}

/* animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
