* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
  z-index: 200;
  width: 8px;
  height: 12px;
}

.Toastify__toast {
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
}

.main-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 12px;
}

.main-error-text {
  font-size: 2em;
}

.main-error-button-container {
  display: flex;
  gap: 8px;
}

/* animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}