* {
  margin: 0;
  padding: 0;
  outline: none;
}
/* html {
  font-size: clamp(12px, 1.2vw, 16px);
} */

body, #root {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
  z-index: 200;
  width: 8px;
  height: 12px;
}

.Toastify__toast {
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
}

.main-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 16px;
}

.main-error-text {
  font-size: 2em;
}

.main-error-button-container {
  display: flex;
  gap: 16px;
}

.error-button {
  font-size: 1.1em;
}

.animu-initial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 24px;
}

.animu-initial-icon {
  width: 150px;
}

.animu-initial-state {
  display: flex;
  align-items: center;
  gap: 4px;
}

.animu-initial-text {
  font-size: 1.2em;
}

.animu-initial-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* .app-loading-animation {
  animation: spin 1s linear infinite;
  width: min-content;
  height: min-content;
  font-size: 4em;
}

.app-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  height: 100%;
}
.app-loading-information {
  font-size: 1.2em;
} */

.loading-animation {
  animation: spin 1s linear infinite;
}

/* animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes firstShow {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0px); }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}