.contextmenu-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    min-width: 150px;
    gap: 0px;
}

.contextmenu-option, .contextmenu-option-deletion {
    cursor: pointer;
    padding: 6px;
    font-size: 1.1em;
}

.contextmenu-option-line {
    width: 100%;
    height: 4px;
    margin: 4px 0px 4px 0px;
}
