.contextmenu-container {
    display: flex;
    flex-direction: column;
    padding: 6px;
    width: 150px;
    gap: 2px;
}

.contextmenu-option, .contextmenu-option-deletion {
    cursor: pointer;
    padding: 4px 0px 4px 4px;
    font-size: 1.1em;
}

.contextmenu-option-line {
    width: 100%;
    height: 2px;
}
