.dialog-main-background {
  width: 100%;
  height: 100%;
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.dialog-container {
    display: grid;
    padding: 18px;
    gap: 12px;
    min-width: min-content;
    max-width: 400px;
    width: clamp(50px, 25vw, 400px);
    animation: firstShow 0.2s ease forwards;
    top: 40%;
    left: 38%;
    transform: translate(-50%, -50%);
}

.dialog-title {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
}

.dialog-icon {
    font-size: 1.4em;
}

.dialog-description {
    padding: 5px;
    max-width: 400px;
}

.dialog-description:empty {
    padding: 0%;
}

.dialog-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 6px;
}