.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  padding: 18px;
  border-radius: 12px;
  width: clamp(270px, 23vw, 450px);
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.2em;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  background-color: var(--fourth-layer);
  user-select: none;

  cursor: pointer;
}
.toast.disable {
  animation: ToastSlideOut 0.2s ease;
}
.toast.show {
  animation: ToastSlideIn 0.2s ease;
}

.toast.info {
  background-color: var(--blue-background);
  color: var(--blue-text);
  border: 2px solid var(--blue-one);
}

.toast.success {
  background-color: var(--green-background);
  color: var(--green-text);
  border: 2px solid var(--green-one);
}

.toast.error {
  background-color: var(--red-background);
  color: var(--red-text);
  border: 2px solid var(--red-one);
}

.toast.click {
  cursor: default;
}

.toast.notification {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
}

.toast-notification-top-bar {
  background-color: var(--five-layer);
  width: 100%;
  padding: 2px 8px;
  font-size: .9em;
}

.toast-notification-content {
  padding: 4px 8px;
  padding-bottom: 12px;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8em;
}

.toast-notification-icon {
  width: 44px;
  border-radius: 4px;
}

/* ANIMATION */
@keyframes ToastSlideIn {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes ToastSlideOut {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1000px);
  }
}