@import "../playerfix.css";

:root {
  --text: #4c4f69; /* is use on regular text */
  --text-gray: #6c6f85; /* is use in card continue watch */

  /* Background */
  --bg: #e6e9ef; /* First layer, background only */
  --bg2: #ccd0da; /* Second layer, use in sidebar, header */
  --bg3: #bcc0cc; /* Thirt layer, use in button etc */
  --bg4: #acb0be; /* Fourth layer, use in hover button etc */
  --bg5: #9ca0b0; /* Fourth layer, use in hover button etc */

  /* accent */
  --neutral1: #8839ef; /* is using on outline, border-color etc */ 
  --neutral2: #B958DD;
  --neutral3: #ea76cb;
  --red: #d20f39;
  --blue: #04a5e5;
  --light-blue: #75d3ed;
  --orange: #fe640b;
  --green: #40a02b;
  --red-background: #eed0d2;
  --green-background: #e7f8e6;
  
  /* DarkerAnimu compatibility */
  --first-layer: var(--bg); /* First layer, background only */
  --second-layer: var(--bg2); /* Second layer, used in sidebar, header */
  --third-layer: var(--bg3); /* Third layer, used in button etc */
  --fourth-layer: var(--bg4); /* Fourth layer, used in hover button etc */
  --five-layer: var(--bg5);

  /* Colors */
  --green-one: var(--neutral1); /* boders, some buttons etc */
  --orange-one: var(--orange);
  --blue-one: var(--blue);
  --red-one: var(--red);
  --blue-background: var(--bg2);
  --blue-text: var(--text);
  --red-text: var(--text);
  --green-text: var(--text);
}


/* Light theme fixes */
.button.big-card-button, .big-card-information-date, .big-card-information-others * {
  color: var(--bg) !important;
}