.keybind-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-size: larger;
}
.keybind-space {
  display: flex;
  justify-content: center;
  font-size: large;
  background-color: var(--primary-200);
  padding: 8px;
  width: 15%;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--primary-200);
  transform: all 0.2s ease;
}

.keybind-active {
  background-color: var(--primary-300);
  border-color: var(--primary-900);
}