.settings-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
}

.settings-space {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.settings-content {
  width: 100%;
  height: 90vh;
  padding: 1em;
  margin-left: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-header {
  margin-top: 0.1em;
  font-size: xx-large;
  font-weight: 600;
}

.settings-general {
  gap: 0.5em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-space {
  gap: 0.5em;
  padding: 1.5em;
  border-radius: 14px;
  max-width: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-first {
  z-index: 0;
  position: fixed;
}

.text {
  font-size: x-large;
  font-weight: 500;
}

.small-text {
  font-size: medium;
}

.same-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  width: 100%;
  font-size: medium;
  gap: 1em;
}

.number {
  appearance: none;
  border: none;
  outline: none;
  text-align: center;
  font-size: large;
  max-width: 20%;
  min-width: 8%;
  width: 0%;
  padding: 8px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  transition: border-color 100ms ease;
}

.settings-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin-left: 25em;
}
.settings-loading-animation {
  font-size: xx-large;
}

.border-settings {
  border-style: solid;
  border-width: 1px;
  width: 95%;
}

.text-space {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
