:root {
  --text: #ebdbb2;
  --text-gray: #d5c4a1;

  /* Background */
  --bg: #282828; /* First layer, background only */
  --bg2: #32302f; /* Second layer, use in sidebar, header */
  --bg3: #3c3836; /* Thirt layer, use in button etc */
  --bg4: #504945; /* Fourth layer, use in hover button etc */

  /* accent */
  --neutral1: #d65d0e;
  --neutral2: #fe8019;
  --neutral3: #ff8828;

  /* Other */
  --black: rgba(0, 0, 0);  /* is use in video container */
  --notVisible: rgba(0, 0, 0, 0.0); /* is use in player button */
}

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--text);
}

body {
  background-color: var(--bg);
}

button {
  border: none;
  background-color: var(--bg3);
  color: var(--text);
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
}

.backlight:hover {
  background-color: var(--bg4);
  color: var(--text);
}

.active {
  background-color: var(--bg4);
}
.active:hover {
  background-color: none;
}

.sidebar-mini {
  background-color: var(--bg2);
}
.border {
  border-color: var(--bg4);
}

.border-settings {
  border-color: var(--bg4);
}

.sidebar-max {
  background-color: var(--bg2);
}

.input {
  background-color: var(--bg3);
  outline-color: var(--bg3);
  outline-width: 2px;
  outline-style: solid;
  transition: outline 150ms ease;
}
.input:focus {
  outline-color: var(--neutral1);
}

.header {
  background-color: var(--bg2);
}

.settings-space {
  background-color: var(--bg2);
}

.checkbox {
  background-color: var(--bg3);
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.2);
}
.checkbox:checked {
  background-color: var(--neutral1);
}
.checkbox::before {
  background-color: var(--text);
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

.Toastify__toast {
  background-color: var(--bg2);
  border-radius: 12px;
  color: var(--text);
  border: 2px solid var(--bg4);
}

.number {
  background-color: var(--bg3);
  color: var(--text);
  border: none;
  transition: background-color 150ms ease;
}
.number:hover {
  background-color: var(--bg4);
}
.number:focus {
  outline: solid 2px var(--neutral1);
}

.dropdown-button {
  border: none;
  background-color: var(--bg3);
  transition: background-color 150ms ease;
}
.dropdown-button:hover {
  background-color: var(--bg4);
}

.dropdown-menu {
  background-color: var(--bg3);
}

.dropdown-item {
  background-color: var(--bg3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.dropdown-item:hover {
  background-color: var(--bg4);
}

.keybind-content {
  background-color: var(--bg3);
  border-color: var(--bg3);
  transition:
    background-color,
    border-color 150ms ease;
}

.keybind-content:hover {
  background-color: var(--bg4);
}

.keybind-active {
  background-color: var(--bg4);
  border-color: var(--neutral1);
}

.card-container {
  border-radius: 8px;
}
.card-container:hover {
  background-color: var(--bg4);
}

.card-image {
  border-radius: 8px;
}
.card-image-placeholder {
  background-color: var(--bg3);
}

.card-continue-watch-text {
  color: var(--text-gray);
}
.dialog-container {
  background-color: var(--bg2);
  border-radius: 12px;
}

.information-image-placeholder {
  background-color: var(--bg3);
  border-radius: 12px;
}

.context-menu-item:hover {
  background: var(--bg3);
}

.context-menu {
  background: var(--bg2);
}

.information-episode-button:hover {
  outline: solid 2px var(--neutral1);
}

.information-episode-button:active {
  background-color: var(--bg4);
}

.information-episode-button {
  background-color: var(--bg4);
  border-radius: 6px;
  outline-color: var(--bg4);
  transition: outline 100ms ease;
}

.information-episodes {
  background-color: var(--bg2);
  border-radius: 12px;
}

.information-anime-info {
  background-color: var(--bg2);
  border-radius: 12px;
}

.information-anime-info-content {
  background-color: var(--bg3);
  border-radius: 12px;
}

.information-exit-button {
  background-color: var(--bg2);
}

.information-exit-button:hover {
  background-color: var(--bg4);
  outline: solid 2px var(--neutral1);
}

.information-top {
  background-color: var(--bg2);
}

.player-buttons {
  background-color: var(--notVisible);
  box-shadow: none;
  outline-color: var(--notVisible);
}

.player-buttons:hover {
  outline: solid 2px var(--neutral1);
}

.progress {
  background-color: var(--neutral1);
}

.thumb, .slider-thumb, .slider-progress,.progress {
  background-color: var(--neutral1);
}

.seek-bar {
  background-color: rgba(255, 255, 255, 0.3);
}

.time-display, .player-title, .show-time {
  background-color: rgba(52, 50, 47, 0.8);
}

.video-container {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg2);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

.information-background {
  background-color: rgb(29, 32, 33);
}

.information-fade {
  background: linear-gradient(to bottom, rgba(29, 32, 33, 0) 10%, rgba(29, 32, 33, 1) 98%);
}
