.settings-keybind-check , .settings-keybind-check-active {
    min-width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    overflow: hidden;
}
