.settings-keybind-check , .settings-keybind-check-active {
    height: 40px;
    display: flex;
    justify-content: end;
    gap: 4px;
    align-items: center;
    font-size: .9em;
    overflow: hidden;
    padding: 0px 24px 0px 24px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.settings-input-content {
    padding: 4px 12px 4px 12px;
    border-radius: 12PX;
}