.dropdown-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.dropdown-button {
  padding: 8px;
  cursor: pointer;
  width: 110px;
  display: flex;
  transition: border-color 150ms ease;
  justify-content: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

.dropdown-menu {
  top: 44px;
  position: absolute;
  padding: 4px;
  display: flex;
  align-items: start;
  width: 100%;
  gap: 4px;
  flex-direction: column;
  list-style: none;
  margin: 0;
  z-index: 1000;
}

.dropdown-item {
  cursor: pointer;
  padding: 8px;
  width: 90%;
  font-size: 1em;
  transition: background-color 150ms ease;
  overflow: hidden;
  text-align: end;
  text-overflow: ellipsis;
  white-space: nowrap;
}
