.settings-input-container {
    display: flex;
    flex-direction: row;
    width: min-content;
    overflow: hidden;
}

.settings-input-field, .settings-input-field-hide-type {
    outline: none;
    text-align: right;
    font-size: 1em;
    width: min-content;
    min-width: 50px;
    field-sizing: content;
}

.settings-input-field {
    padding: 10px 0 10px 8px;
}

.settings-input-field-hide-type {
    padding: 10px;
}

.settings-input-type {
    text-align: center;
    align-content: center;
    padding-right: 5px;
    min-width: 4px;
    width: min-content;
}
