.settings-input-container {
    display: flex;
    flex-direction: row;
    width: min-content;
    overflow: hidden;
    width: 130px;
}

.settings-input-field {
    outline: none;
    text-align: right;
    font-size: 1em;
    width: min-content;
    padding: 10px 0 10px 8px;
    max-width: 100px;
}

.settings-input-type {
    /*border-radius: 0px 12px 12px 0px;*/
    text-align: center;
    align-content: center;
    padding-right: 5px;
    min-width: 4px;
    width: 100%;
}
