.settings-drop-container {
    width: 100%;
}

.settings-drop-button {
    background-color: var(--third-layer);
    border-radius: 12px;
    display: flex;
    outline: 2px solid var(--invisible);
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;
    user-select: none;
    transition: all 100ms ease-in-out;
}
.settings-drop-button:hover {
    background-color: var(--five-layer);
    outline: 2px solid var(--green-one);
}

.settings-drop-content {
    background-color: var(--third-layer);
    border-radius: 0px 0px 12px 12px;
    overflow: hidden;
    transition: height 250ms ease-in-out;
    height: 0;
    interpolate-size: allow-keywords;
}

.settings-drop-content.expand {
    height: auto;
}

.settings-drop-header {
    display: flex;
    align-items: center;
    gap: 12px;
}