@import "../playerfix.css";

:root {
  --text: #1c1c21; /* is use on regular text */
  --text-gray: #4a4d64; /* is use in card continue watch */

  /* Background */
  --bg: #f2eedd; /* First layer, background only */
  --bg2: #d7d7cc; /* Second layer, use in sidebar, header */
  --bg3: #c6bfb7; /* Thirt layer, use in button etc */
  --bg4: #bcb5b0; /* Fourth layer, use in hover button etc */
  --bg5: #b0adab; /* Fourth layer, use in hover button etc */

  /* accent */
  --neutral1: #7caa32; /* is using on outline, border-color etc */ 
  --neutral2: #84aa23;
  --neutral3: #699626;
  --red: #d20f39;
  --green: var(--neutral1);
  --blue: #04a5e5;
  --light-blue: #75d3ed;
  --orange: #fe640b;
  --green: #40a02b;
  --red-background: #d3b1b3;
  --green-background: #d9f1d8;
  
  /* DarkerAnimu compatibility */
  --first-layer: var(--bg); /* First layer, background only */
  --second-layer: var(--bg2); /* Second layer, used in sidebar, header */
  --third-layer: var(--bg3); /* Third layer, used in button etc */
  --fourth-layer: var(--bg4); /* Fourth layer, used in hover button etc */
  --five-layer: var(--bg5);

  /* Colors */
  --green-one: var(--neutral1); /* borders, some buttons etc */
  --orange-one: var(--orange);
  --blue-one: var(--blue);
  --red-one: var(--red);
  --blue-background: var(--bg2);
  --blue-text: var(--text);
  --red-text: var(--text);
  --green-text: var(--text);
}


/* Light theme fixes */
.button.big-card-button, .big-card-information-date, .big-card-information-others * {
  color: var(--bg) !important;
}