.button {
    border: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: clamp(4px, 1vw, 12px);
    padding: clamp(4px, 1vw, 10px);
    transition: all 0.1s ease;

    background-color: var(--bg3);
    border-color: var(--bg3);
    color: var(--text);
}