.button {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: clamp(4px, 1vw, 12px);
    padding: clamp(4px, 1vw, 10px);
    transition: all 0.1s ease;
}