.dropdown-container {
  position: relative;
  display: flex;
  justify-content: center;
  user-select: none;
}

.dropdown-button {
  padding: 12px;
  cursor: pointer;
  width: 150px;
  height: max-content;
  display: flex;
  transition: border-color 150ms ease;
  align-items: center;
  gap: 2px;
  justify-content: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
  font-size: 1em;
  min-width: fit-content;
}

.dropdown-button-icon {
  font-size: 1.2em;
}

.dropdown-button-text {
  font-size: 0.9em;
  display: flex;
  gap: 4px;
  align-items: center;
}

.dropdown-menu {
  top: 44px;
  position: absolute;
  padding: 4px;
  display: grid;
  width: 100%;
  flex-direction: column;
  list-style: none;
  margin: 0;
  z-index: 1000;
  max-height: 300px;
  overflow: auto;
  animation: dropDownExpand 0.2s ease forwards;
  transform-origin: top;
}

.dropdown-item {
  cursor: pointer;
  padding: 8px;
  width: 90%;
  font-size: 1em;
  transition: background-color 150ms ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  display: flex;
  gap: 4px;
  align-items: center;
}

.dropdown-item-image {
  width: 24px;
  height: 24px;
}

/* ANIMATION */
@keyframes dropDownExpand {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}


/* for very small window sizes */
@media (max-width: 600px) {

  .dropdown-button {
    width: 120px;
  }
}