.seekBar-container {
    pointer-events: all;
    height: 8px;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.seekbar-progress{
    width: 0%;
    height: 100%;
    z-index: 2;
}

.seekbar-buffer-wrapper {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.seekbar-buffer {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: color-mix(in srgb, var(--text) 70%, transparent);
    z-index: 1;
}

.seekbar-thumb {
    position: relative;
    bottom: 4px;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
}

.seekbar-box {
    position: absolute;
    top: -40px;
    left: var(--tooltip-x, 50%);
    transform: translateX(-50%);
    width: min-content;
    padding: 8px 12px;
}
