.seekBar-container {
    pointer-events: all;
    height: 8px;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.seekbar-shadow {
    padding: 13px 0px;
    position: absolute;
    cursor: pointer;
    width: 100%;
    pointer-events: all;
    margin-top: -8px;
    z-index: 5;
}

.seekbar-progress {
    width: 0%;
    height: 100%;
    z-index: 2;
    position: relative;
}

.seekbar-buffer-wrapper, .seekbar-chapters-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.seekbar-buffer, .seekbar-chapters {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
}

.seekbar-thumb {
    position: relative;
    bottom: 4px;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.seekbar-box {
    position: absolute;
    top: -40px;
    left: var(--tooltip-x, 50%);
    transform: translateX(-50%);
    width: min-content;
    padding: 8px 12px;
    z-index: 4;
    pointer-events: none;
}

.seekbar-chapter-box, .seekbar-chapter-box-thumbnails {
    width: max-content;
    pointer-events: none;
}

.seekbar-chapter-box {
    top: -65px;
}

.seekbar-chapter-box-thumbnails {
    top: -142px;
}

.seekbar-thumbnail {
    position: absolute;
    left: var(--tooltip-x, 50%);
    transform: translateX(-50%);
    height: 101px;
    width: 180px;
    top: -130px;
    background-repeat: no-repeat;
    pointer-events: none;
}

.seekbar-chapters-wrapper {
    z-index: 3 !important;
}