.seekBar-container {
    pointer-events: all;
    height: 8px;
    position: relative;
    cursor: pointer;
    width: 100%;
    background-color: color-mix(in srgb, var(--bg4) 70%, transparent);
    border-radius: 12px;
}

.seekbar-progress {
    width: 0%;
    height: 100%;
}

.seekbar-thumb {
    position: relative;
    bottom: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.seekbar-box {
    position: absolute;
    top: -40px;
    left: var(--tooltip-x, 50%);
    transform: translateX(-50%);
    width: min-content;
    padding: 8px 12px;
    background-color: color-mix(in srgb, var(--bg3) 80%, transparent);
    border-radius: 12px;
}

.seekbar-thumb, .seekbar-progress, .seekbar-box.progress {
  background-color: var(--neutral1);
  border-radius: 12px;
}