.sidebar-container-max {
    width: clamp(155px, 20vw, 200px);
}

.sidebar-container-min, .shadow-sidebar {
    width: clamp(50px, 7.3vw, 66px);
}

.sidebar-container-min, .sidebar-container-max  {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    grid-area: sidebar;
    transition: width 100ms ease;
}

.sidebar-button-min {
    width: max-content;
    height: max-content;
}

.sidebar-top, .sidebar-bottom {
    margin: 4px;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 1vw, 12px);
}

.sidebar-max-button-container {
    width: 90%;
}

.sidebar-min-button-container {
    width: max-content;
}

.sidebar-bottom {
    margin-bottom: 70px;
}

.sidebar-main-container {
    position: fixed;
    height: max-content;
    z-index: 11;
    background-color: var(--bg2);
}

.sidebar-hide-container {
    padding: clamp(4px, 1vw, 8px);
    /* padding: 8px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 6px; */
}

.sidebar-black-line {
    width: 100%;
    height: 4px;
}

.sidebar-logo-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
    gap: 12px;
    width: clamp(155px, 20vw, 200px);
}

.sidebar-image {
    user-select: none;
    height: 50px
}

.sidebar-version {
    font-size: 1.2em;
    padding-right: 12px;
}

/* for very small window sizes */
@media (max-width: 600px) {

    .sidebar-logo-icon-container,
    .sidebar-container-max {
        width: clamp(175px, 40vw, 200px);
    }
    
    .sidebar-container-min, .shadow-sidebar {
        width: clamp(50px, 9vw, 66px);
        min-width: fit-content;
    }
    
    /* .settings-container .sidebar-logo-icon-container,
    .settings-container .sidebar-container-max {
        width: 130px;
    } */
}
@media (max-width: 465px) {
    .sidebar-logo-icon-container,
    .sidebar-container-max {
        width: clamp(175px, 70vw, 200px);
    }
}