/* TODO: KARTQ ADD MINI CARDS */

/* .information-characters-card {
    min-height: 160px;
    width: 180px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-self: center;
    padding: 4px;
    gap: 4px;
} */
 .information-characters-card {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 118px;
    min-width: 118px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
 }

.information-characters-card-cover, .information-character-image-placeholder {
    max-height: 165px;
    width: max-content;
    height: max-content;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    user-select: none;
}

.information-character-image-placeholder {
    width: max-content;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.information-characters-card-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: fit-content;
    overflow: hidden;
    margin-top: 4px;
}

/* .information-characters-card-description {
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}


.information-character-name {
    top: 15px;
} */

.information-character-role {
    color: var(--text-gray);
}

.information-character-name, .information-character-role {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}
