.information-containerwrong-void {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-containerwrong {
    width: 80%;
    height: 80%;
    border-radius: 12px;
    padding: 12px;
    position: relative;
}

.information-containerwrong-exit-button {
    padding: 8px;
    position: absolute;
    top: 0;
    right: 1;
    left: 0;
    margin: -24px;
    border-radius: 50% !important; 
}