.drop-button {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    cursor: pointer;
}

.drop-header {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.drop-content {
    padding: 0px;
    overflow: hidden;
    height: 0px;
}

.drop-content-show {
    padding: 12px;
}

.drop-container {
    user-select: none;
}