.drop-button {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    cursor: pointer;
}

.drop-header {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.drop-content {
    overflow: hidden;
    transition: height 250ms ease-in-out;
    height: 0;
    interpolate-size: allow-keywords;
}

.drop-content.expand {
    height: auto;
}

.drop-container {
    user-select: none;
}