.drop-button {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    cursor: pointer;
}

.drop-header {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.drop-content {
    padding: 12px;

    display: none;
    transition: height 150ms ease;
}

.drop-content-show {
    height: max-content;
    display: block;
}
