@import "../playerfix.css";

:root {
  --text: #839496;
  --text-gray: #707979;

  /* Background */
  --bg: #002b36; /* First layer, background only */
  --bg2: #073642; /* Second layer, use in sidebar, header */
  --bg3: #43555a; /* Thirt layer, use in button etc */
  --bg4: #4f6066; /* Fourth layer, use in hover button etc */
  --bg5: #586e75;

  /* accent */
  --neutral1: #b58900;
  --neutral2: #c99700;
  --neutral3: #dca501;
  --red: #dc322f;
  --blue: #268bd2;
  --orange: #cb4b16;
  --green: #859900;
  
  /* DarkerAnimu compatibility */
  --first-layer: var(--bg); /* First layer, background only */
  --second-layer: var(--bg2); /* Second layer, used in sidebar, header */
  --third-layer: var(--bg3); /* Third layer, used in button etc */
  --fourth-layer: var(--bg4); /* Fourth layer, used in hover button etc */
  --five-layer: var(--bg5);

  /* Colors */
  --green-one: var(--green); /* boders, some buttons etc */
  --orange-one: var(--orange);
  --blue-one: var(--blue);
  --red-one: var(--red);
  --blue-background: var(--bg2);
  --blue-text: var(--text);
  --red-background: var(--bg2);
  --red-text: var(--text);
}