.content-title {
  font-weight: 500;
  font-size: x-large;
}
.content-container {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  margin-left: 6em;
  margin-top: 4.5em;
  margin-bottom: 2em;
  gap: 1em;
}
.card-content-container {
  gap: clamp(14px, 1vw, 28px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
}
.card-content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.message-content {
  display: flex;
  justify-content: center;
  height: 70vh;
}
