.content-title {
  font-weight: 500;
  font-size: x-large;
}
.content-container {
  display: flex;
  flex-direction: column;
  padding: clamp(12px, 1vw, 20px);
  gap: 1em;
  overflow: auto;
}
.card-content-container {
  gap: clamp(14px, 1vw, 28px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
}
.card-content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.message-content {
  display: flex;
  justify-content: center;
  height: 70vh;
}
