.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1003;
}

img {
  max-width: 200px;
  max-height: 290px;
  border-radius: 8px;
  display: block;
}

.box {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;
}
.box-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 2px;
  max-width: 800px;
  max-height: 800px;
  min-height: 150px;
  user-select: text;
}
.box-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  user-select: text;
}

.box-episode {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 2px;
  padding: 12px;
}

.box-episodes {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 8px;
  max-height: 10em;
  max-width: 800px;
}

.box-img {
  padding: 8px;
  border-radius: 2px;
}

.episode {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.text-episode {
  font-size: larger;
  font-weight: 600;
  user-select: text;
}
.header-text {
  font-size: 24px;
  font-weight: 600;
  user-select: text;
}

.description {
  user-select: text;
}