.sidebar-mini {
  z-index: 1001;
  width: 65px;
  height: calc(100vh - 50px);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  transition: width 0s ease;
}
.border {
  border-style: solid;
  border-width: 1px;
  width: 80%;
}

.top-sidebar,
.bottom-sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.bottom-sidebar {
  padding-bottom: 16px;
}

.sidebar-max {
  z-index: 1001;
  margin-top: 3.75em;
  height: calc(100vh - 50px);
  width: 200px;
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  transition: width 0s ease;
}

.sidebar-version {
  font-size: larger;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.sidebar-hidden {
  z-index: 1001;
  position: fixed;
  margin-top: 3.75em;
  height: calc(100vh - 50px);
  width: 200px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  justify-content: space-between;
  animation: hide 300ms forwards;
}

.sidebar-show { 
  animation: show 300ms forwards;
}