.drop-button {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: var(--bg3);
    border-radius: 12px;
    cursor: pointer;
}

.drop-header {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.drop-content {
    padding: 12px;
    background-color: var(--bg3);
    border-radius: 12px;

    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border: 2px solid var(--bg4);
    border-width: 2px 0px 0px 0px;

    display: none;
    transition: height 150ms ease;
}

.drop-content-show {
    height: max-content;
    display: block;
}

.active-drop {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}