.player-video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player {
  width: 100%;
  height: 100%;
}

.player-mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.player-time-display {
  padding: 5px 10px;
  pointer-events: all;
  font-size: large;
  font-weight: 500;
  user-select: text;
}

.video-top {
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  gap: 1em;
  transition: opacity 200ms ease;
}

.mask {
  transition: mask-image 200ms ease;
}

.video-center-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
}

.video-center {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 50%;
  translate: 0px -50%;
  height: fit-content;
  min-height: 100px;
}

.video-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 12px;
  margin-right: 12px;
  transition: opacity 200ms ease;
}

.player-bottom-section {
  display: flex;
  justify-content: space-between;
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.player-left,
.player-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.player-buttons {
  pointer-events: all;
  width: 40px;
  height: 40px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-title {
  pointer-events: all;
  padding: 8px;
  font-size: x-large;
  user-select: text;
  overflow: hidden;
}

.player-volume-seek {
  max-width: 200px;
  width: 20vw;
  padding: 0px 4px;
}

.player-waiting {
  font-size: 72px;
  animation: spin 1s linear infinite;
}

.player-disabled {
  pointer-events: none;
}

.player-volume-bar {
  appearance: none;
  height: 6px;
}

.player-volume-bar::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
}

.player-hide-cursor {
  cursor: none;
}

.player-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player-hidden {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.player-up-Next-container {
  position: fixed;
  left: 1;
  top: 1;
  right: 30px;
  bottom: 30px;
  z-index: 2000;

  width: clamp(20vw, 25vw, 30vw);

  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.player-up-Next-Anime,
.player-up-Next-Title {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.player-up-Next-Title {
  font-size: clamp(1rem, 1.4vw, 2em);
  font-weight: 500;
}

.player-up-Next-Anime {
  max-width: 30svw;
  font-size: clamp(0.8rem, 1vw, 1em);
}

.player-up-Next-Buttons {
  display: flex;
  justify-content: end;
  gap: 1em;
}

.player-up-Next-Button {
  font-size: clamp(0.5rem, 1.1vw, .8rem);
  padding: 8px;
}

.player-loading-container {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-loading-top {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  gap: 12px;
}

.player-volume-ui-container {
  display: flex;
  align-items: center;
  background-color: var(--bg2);
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 12px;
  max-width: 280px;
  min-width: 180px;
  width: 290px;
  padding: 12px;
  gap: 8px;
  z-index: 12;
}

.player-volume-ui-bar-progress {
  height: 100%;
  width: 0%;
  background-color: var(--neutral1);
  border-radius: 12px;
}

.player-volume-ui-text {
  font-size: 1.3em;
}

.player-volume-ui-icon {
  font-size: 2em;
}

.player-volume-ui-bar-container {
  width: 100%;
  height: 8px;
  background-color: var(--bg3);
  border-radius: 12px;
}

.player-loading-animation-container {
  position: relative;
}

.player-buffering-animation {
  position: absolute !important;
  top: 0px;

}

/* UI */
.player-icon-ui {
  font-size: 72px;
}

/* .player-fast-forward-ui, .player-fast-rewind-ui {
  position: relative;
}

.player-fast-rewind-ui {
  left: 0;
  margin-left: clamp(40px, 25vw, 350px);
}

.player-fast-forward-ui {
  right: 0;
  margin-right: clamp(40px, 25vw, 350px);
} */
