:root {
  --text: #F8F8F2; /* is use on regular text */
  --text-gray: #8d8d8d; /* is use in card continue watch */

  /* Background */
  --bg: #282A36; /* First layer, background only */
  --bg2: #2e303e; /* Second layer, use in sidebar, header */
  --bg3: #44475A; /* Thirt layer, use in button etc */
  --bg4: #6272A4; /* Fourth layer, use in hover button etc */

  /* accent */
  --neutral1: #BD93F9; /* is using on outline, border-color etc */ 
  --neutral2: #c4a8ec; /* not use */
  --neutral3: #BD93F9; /* not use */
}

.video-player, .player-video-container, .player-loading-container {
  --text: #cfcfcf; /* is used on regular text */
  --text-gray: #8d8d8d; /* is used in card continue watch */

  /* Background */
  --bg: #1e1e1e; /* First layer, background only */
  --bg2: #232323; /* Second layer, used in sidebar, header */
  --bg3: rgb(46, 46, 46); /* Thirt layer, used in button etc */
  --bg4: rgb(64, 64, 64); /* Fourth layer, used in hover button etc */

  /* other */
  --player-bg-containers: color-mix(in srgb, var(--bg2) 70%, transparent);
  --invisible: rgba(0, 0, 0, 0);
  /* is used in player button */
  --black: rgba(0, 0, 0);
}