:root {
  --text: #1c1c21; /* is use on regular text */
  --text-gray: #4a4d64; /* is use in card continue watch */

  /* Background */
  --bg: #f2eedd; /* First layer, background only */
  --bg2: #d7d7cc; /* Second layer, use in sidebar, header */
  --bg3: #c6bfb7; /* Thirt layer, use in button etc */
  --bg4: #bcb5b0; /* Fourth layer, use in hover button etc */

  /* accent */
  --neutral1: #7caa32; /* is using on outline, border-color etc */ 
  --neutral2: #84aa23;
  --neutral3: #699626;
  --red: #d20f39;
}

.video-player, .player-video-container, .player-loading-container {
  --text: #cfcfcf; /* is used on regular text */
  --text-gray: #8d8d8d; /* is used in card continue watch */

  /* Background */
  --bg: #1e1e1e; /* First layer, background only */
  --bg2: #232323; /* Second layer, used in sidebar, header */
  --bg3: rgb(46, 46, 46); /* Thirt layer, used in button etc */
  --bg4: rgb(64, 64, 64); /* Fourth layer, used in hover button etc */

  /* other */
  --player-bg-containers: color-mix(in srgb, var(--bg3) 70%, transparent);
  --invisible: rgba(0, 0, 0, 0);
  /* is used in player button */
  --black: rgba(0, 0, 0);

  color: #cfcfcf;
}