.video-player, .player-video-container, .player-loading-container {
  --text: #cfcfcf; /* is used on regular text */
  --text-gray: #8d8d8d; /* is used in card continue watch */

  /* Background */
  --bg: #1e1e1e; /* First layer, background only */
  --bg2: #232323; /* Second layer, used in sidebar, header */
  --bg3: rgb(46, 46, 46); /* Thirt layer, used in button etc */
  --bg4: rgb(64, 64, 64); /* Fourth layer, used in hover button etc */

  /* Background */
  --first-layer: #181818; /* First layer, background only */
  --second-layer: #1F1F1F; /* Second layer, used in sidebar, header */
  --third-layer: #2D2D2D; /* Third layer, used in button etc */
  --fourth-layer: #303030; /* Fourth layer, used in hover button etc */
  --five-layer: #434343;

  /* Colors */
  --green-one: var(--neutral1); /* borders, some buttons etc */
  --orange-one: #CA6931;
  --blue-one: #385DA9;
  --blue-background: #212328;
  --blue-text: #BFCBE3;
  --red-one: #932F2F;

  /* other */
  --player-bg-containers: color-mix(in srgb, var(--third-layer) 80%, transparent);
  --invisible: rgba(0, 0, 0, 0);
  /* is used in player button */
  --black: rgba(0, 0, 0);
}


.video-player, .player-video-container, .player-loading-container {
  color: #cfcfcf;
}