:root {
  --text: #f2f2f3; /* is used on regular text */
  --text-gray: #8d8d8d; /* is used in card continue watch */

  /* Background */
  --bg: #16181d; /* First layer, background only */
  --bg2: #2b2e41; /* Second layer, used in sidebar, header */
  --bg3: #3c415d; /* Thirt layer, used in button etc */
  --bg4: #202332; /* Fourth layer, used in hover button etc */

  /* accent */
  --neutral1: var(--text); /* is using on outline, border-color etc */
  --neutral2: #4e59b1; /* not used */
  --neutral3: #3e488e; /* not used */
}

.video-player, .player-video-container, .player-loading-container {
  --text: #cfcfcf; /* is used on regular text */
  --text-gray: #8d8d8d; /* is used in card continue watch */

  /* Background */
  --bg: #1e1e1e; /* First layer, background only */
  --bg2: #232323; /* Second layer, used in sidebar, header */
  --bg3: rgb(46, 46, 46); /* Thirt layer, used in button etc */
  --bg4: rgb(64, 64, 64); /* Fourth layer, used in hover button etc */

  /* other */
  --player-bg-containers: color-mix(in srgb, var(--bg2) 70%, transparent);
  --invisible: rgba(0, 0, 0, 0);
  /* is used in player button */
  --black: rgba(0, 0, 0);
}