:root {
  --text: #222; /* is use on regular text */
  --text-gray: grey; /* is use in card continue watch */

  /* Background */
  --bg: #ffffff; /* First layer, background only */
  --bg2: #c0c0c0; /* Second layer, use in sidebar, header */
  --bg3: #dfdfdf; /* Thirt layer, use in button etc */
  --bg4: #bcb5b0; /* Fourth layer, use in hover button etc */

  /* accent */
  --neutral1: #000080; /* is using on outline, border-color etc */ 
  --neutral2: #0947ab;
  --neutral3: #0f7dcc;
}

.video-player, .player-video-container, .player-loading-container {
  --text: #cfcfcf; /* is used on regular text */
  --text-gray: #8d8d8d; /* is used in card continue watch */

  /* Background */
  --bg: #1e1e1e; /* First layer, background only */
  --bg2: #232323; /* Second layer, used in sidebar, header */
  --bg3: rgb(46, 46, 46); /* Thirt layer, used in button etc */
  --bg4: rgb(64, 64, 64); /* Fourth layer, used in hover button etc */

  /* other */
  --player-bg-containers: color-mix(in srgb, var(--bg3) 70%, transparent);
  --invisible: rgba(0, 0, 0, 0);
  /* is used in player button */
  --black: rgba(0, 0, 0);

  color: #cfcfcf;
}

* {
  border-radius: 0px !important;
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
}
.information-score, .card-information-score {
  border-radius: 50% !important;
  background-color: var(--bg) !important;
}
.seekbar-box {
  background-color: color-mix(in srgb, rgb(46, 46, 46) 80%, transparent) !important;
}
.checkbox::before {
  background-color: var(--bg) !important;
  border-radius: 0px !important;
}
.checkbox {
  background-color: #333 !important;
}
.checkbox:checked {
  background-color: #000080 !important;
}
.settings-input-type, .settings-input-field {
  border-width: 0px !important;
  background-color: var(--invisible) !important;
}

/*
  Taken from https://github.com/jdan/98.css by jdan
*/
.button, .information-episode-button, .information-select-episode, .player-nerd-container, .contextmenu-option {
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
  border-width: 0px !important;
}
.button:active {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}
.button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}
.home-header-search, .dropdown-button, .drop-button, .drop-content-show, .information-info-content, .settings-text-space, .settings-keybind-check, .settings-input-container {
  background-color: var(--bg) !important;
  border-width: 0px !important;
  box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;
}
.information-bar, .information-top, .information-info, .information-episodes, .information-characters, .information-characters-card, .settings-page-container, .checkbox, .checkbox::before, .card-container:hover {
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff !important;
}

.player-buttons {
  box-shadow: none !important;
}