.light {
  --text: #0c0c0d;

  --background-50: #f1f1f4;
  --background-100: #e2e4e9;
  --background-200: #c5c9d3;
  --background-300: #a9aebc;
  --background-400: #8c92a6;
  --background-500: #6f7790;
  --background-600: #595f73;
  --background-700: #434856;
  --background-800: #2c303a;
  --background-900: #16181d;
  --background-950: #0b0c0e;

  --primary-50: #f0f0f5;
  --primary-100: #e0e2eb;
  --primary-200: #c1c4d7;
  --primary-300: #a2a7c3;
  --primary-400: #8489ae;
  --primary-500: #656c9a;
  --primary-600: #51567b;
  --primary-700: #3c415d;
  --primary-800: #282b3e;
  --primary-900: #14161f;
  --primary-950: #0a0b0f;

  --secondary-50: #eeeff6;
  --secondary-100: #dee0ed;
  --secondary-200: #bdc0db;
  --secondary-300: #9ca1c9;
  --secondary-400: #7a82b8;
  --secondary-500: #5962a6;
  --secondary-600: #474f85;
  --secondary-700: #363b63;
  --secondary-800: #242742;
  --secondary-900: #121421;
  --secondary-950: #090a11;

  --accent-50: #edeef7;
  --accent-100: #dcdeef;
  --accent-200: #b8bde0;
  --accent-300: #959cd0;
  --accent-400: #717bc1;
  --accent-500: #4e59b1;
  --accent-600: #3e488e;
  --accent-700: #2f366a;
  --accent-800: #1f2447;
  --accent-900: #101223;
  --accent-950: #080912;
}
.dark {
  --text: #f2f2f3;

  --background-50: #0b0c0e;
  --background-100: #16181d;
  --background-200: #2c303a;
  --background-300: #434856;
  --background-400: #595f73;
  --background-500: #6f7790;
  --background-600: #8c92a6;
  --background-700: #a9aebc;
  --background-800: #c5c9d3;
  --background-900: #e2e4e9;
  --background-950: #f1f1f4;

  --primary-50: #0a0b0f;
  --primary-100: #14161f;
  --primary-200: #282b3e;
  --primary-300: #3c415d;
  --primary-400: #51567b;
  --primary-500: #656c9a;
  --primary-600: #8489ae;
  --primary-700: #a2a7c3;
  --primary-800: #c1c4d7;
  --primary-900: #e0e2eb;
  --primary-950: #f0f0f5;

  --secondary-50: #090a11;
  --secondary-100: #121421;
  --secondary-200: #242742;
  --secondary-300: #363b63;
  --secondary-400: #474f85;
  --secondary-500: #5962a6;
  --secondary-600: #7a82b8;
  --secondary-700: #9ca1c9;
  --secondary-800: #bdc0db;
  --secondary-900: #dee0ed;
  --secondary-950: #eeeff6;

  --accent-50: #080912;
  --accent-100: #101223;
  --accent-200: #1f2447;
  --accent-300: #2f366a;
  --accent-400: #3e488e;
  --accent-500: #4e59b1;
  --accent-600: #717bc1;
  --accent-700: #959cd0;
  --accent-800: #b8bde0;
  --accent-900: #dcdeef;
  --accent-950: #edeef7;

}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
  margin: 0px;
  padding: 0px;
}

.main-container,
html,
body {
  background-color: var(--background-100);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  max-height: 100%;
}

.header {
  z-index: 50;
  background-color: var(--primary-200);
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 28px;
  padding-left: 2em;
  position: fixed;
  width: 100%;
}

.text {
  display: flex;
  text-align: center;
  font-size: 28px;
}

input[type="text"] {
  border: none;
  outline: none;
  padding: 12px;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  background-color: var(--primary-100);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.container {
  padding: 18px;
  padding-top: 5em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.main-text {
  display: flex;
  width: 100%;
  font-size: x-large;
  padding-left: 1.5em;
}
.card-container {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  gap: 8px;
  width: 100%;
  height: auto;
}

img {
  max-width: 200px;
  max-height: 290px;
  border-radius: 4px;
  display: block;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spin 1s linear infinite;
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card_img {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.error-img {
  width: 200px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-200);
  border-radius: 4px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}
.card {
  z-index: 1;
  width: 220px;
  max-height: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
  gap: 4px;
  cursor: pointer;
}
.card:hover {
  background-color: var(--primary-200);
}
.card-text {
  word-wrap: break-word;
  overflow: hidden;
}

.sidebar {
  z-index: 60;
  position: fixed;
  flex-direction: column;
  height: 100%;
  width: 200px;
  background-color: black;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.sidebar-button {
  font-size: larger;
  align-items: center;
  padding: 8px;
  padding-left: 1.2em;
  display: flex;
  gap: 8px;
  color: white;
}
.sidebar-button:hover {
  background-color: var(--primary-600);
}
.sidebar-text {
  padding-left: 1em;
  font-size: large;
  color: #eff6f1;
}

a {
  text-decoration: none;
}

.scroll {
  overflow-y: hidden;
  overflow-x: auto;
  max-height: 350px;
  height: auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.settings-container {
  padding-top: 5em;
}

#menu {
  border: none;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--primary-300);
  box-shadow: 0.5px 0.5px 20px rgba(0, 0, 0, 0.1);
}
#menu:hover {
  background-color: var(--primary-400);
}

#change-theme {
  cursor: pointer;
}

.information-container {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.box-information {
  background-color: var(--background-200);
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 4px;
  gap: 1em;
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 70%;
}
.box-top {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.box-text {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.box-episodes {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 8px;
  max-height: 10em;
}
.episode {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: var(--primary-300);
  cursor: pointer;
  box-shadow: 0.5px 0.5px 20px rgba(0, 0, 0, 0.1);
}
.text-episode {
  font-size: larger;
  font-weight: 600;
}
.header-text {
  font-size: 24px;
  font-weight: 600;
}

/* player */
.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 120;
  position: absolute;
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}

.control:hover {
  color: var(--accent-800);
}

.set-back {
  cursor: pointer;
  font-size: large;
  padding: 8px;
  border-radius: 4px;
  color: white;
}
.set-back:hover {
  color: var(--accent-800);
  background-color: rgb(0, 0, 0, 0.5);
}