/* external player section */
.external-player-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.external-button-container {
  padding: 12px;
  display: flex;
  gap: 1em;
  width: max-content;
}

.external-player-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.external-player-top .video-top {
  align-self: flex-start;
}

.external-player-center {
  margin-top: 15%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  min-height: 100px;
  gap: 7px;
}

.external-dropdown {
  right: 15px;
  top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  gap: 5px;
  min-width: 510px;
  margin-left: auto;
  padding: 10px;
}

.external-episodes-container {
  width: fit-content;
  max-width: min(122vh, 90%);
  height: fit-content;
  align-self: center;
  padding: 11px 1px 1px 11px;
  max-height: 45%;
  overflow: hidden;
}

.external-episodes {
  overflow-y: scroll;
  padding: 6px 6px 11px 6px;
  height: fit-content;
  max-height: 92%;
  display: flex;
  justify-content: start;
  gap: 0.5em;
  flex-wrap: wrap;
}

.external-episodes-title {
   padding: 1px 1px 3px 6px;
   font-weight: bold;
   font-size: 1.3em;
}

@media (max-width: 1000px) {
  .external-dropdown {
    flex-direction: column;
    min-width: 160px;
  }
}