.player-settings-container {
  pointer-events: all;
  position: fixed;
  bottom: 90px;
  right: 20px;
  min-width: 130px;
  width: fit-content;
  padding: 8px;
}

.player-settings-button, .player-settings-button-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.player-settings-button {
  gap: 12px;
}

.player-settings-button-back {
  padding: 8px;
  justify-content: start;
  gap: 8px;
  align-items: center;
}

.player-settings-button-text {
  font-size: 1em;
}

.player-settings-button-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}