.player-dropdown-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.player-dropdown-button, .player-dropdown-button-disable {
    border: none;
    padding: 12px;
    min-width: 100px;
    text-align: end;
    border-radius: 6px;
    background-color: var(--bg3);
    font-size: 1em;
    color: var(--text);
    cursor: pointer;
    transition: outline 100ms ease;
    outline: 2px solid var(--bg3);
}

.player-dropdown-button-disable {
    color: var(--text-gray);
    cursor: default;
}

.player-dropdown-button:hover {
    outline-color: var(--neutral1);
}

.player-dropdown-container-item {
    background-color: var(--bg3);
    border-radius: 12px;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: 50px;
}

.player-dropdown-item {
  text-align: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1em;
  padding: 6px 4px 6px 4px;
  cursor: pointer;
}

.player-dropdown-item:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.player-dropdown-item:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.player-dropdown-item:hover {
    background-color: var(--bg4);
}