.player-settings-container {
  pointer-events: all;
  position: fixed;
  bottom: 90px;
  right: 20px;
  min-width: 250px;
  width: fit-content;
  padding: 8px;
  max-height: 400px;
  height: min-content;
  overflow-x: hidden;

  transform: translateX(1000px);
  transition: 250ms ease-out;
  z-index: 200;
}
.player-settings-container.show {
  transform: translateX(0px);
}

.player-settings-button, .player-settings-button-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.player-settings-content {
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: none;
}

.player-settings-button {
  gap: 24px;
}

.player-settings-button-back {
  padding: 8px;
  justify-content: start;
  gap: 8px;
  align-items: center;
}

.player-settings-button-text {
  font-size: 1em;
}

.player-settings-button-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}