.player-episode-element-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 6px 12px 6px 12px;
    gap: 8px;
    cursor: pointer;
    max-width: 250px;
}

.player-episode-element-background, .player-up-Next-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.player-episode-element-icon {
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
}

.player-episode-element-title, .player-epsisode-element-end {
    font-weight: 500;
    text-shadow: 2px 2px 5px black;
}

.player-epsisode-element-end {
    width: max-content;
    white-space: nowrap;
    font-size: 1em;
    margin-left: 12px;
}

.player-episode-element-title {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: max-content;
    font-size: 0.9em;
}