.card-container {
  position: relative;
  height: min-content;
  max-width: 180px;
  width: auto;
  display: grid;
  cursor: pointer;
  gap: 0.5vw;
  scroll-snap-align: start;
  border-radius: 8px;
  padding: 3% 0% 3%;
}

.card-image-container {
  position: relative;
  width: 180px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.card-image {
  width: 90%;
  height: auto;
  object-fit: cover;
  scroll-snap-align: start;
}
.card-image {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  scroll-snap-align: start;
  border-radius: 8px;
  aspect-ratio: 2 / 3 ;
  margin-top: 2%;
}

.card-image-placeholder {
  position: relative;
  max-width: 162px;
  max-height: 243px;
  width: 100%;
  height: 243px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  margin-top: 2%;
  aspect-ratio: 2 / 3 ;
}

.card-title {
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  scroll-snap-align: start;
  margin-left: 5%;
}

.card-continue-watch-text {
  text-align: center;
  border-radius: 12px;
  width: 100%;
  font-size: clamp(8px, 0.7em, 14px);
  scroll-snap-align: start;
}

.card-delete-icon {
  display: none;
  position: absolute;
  padding: 4px;
  margin-left: -12px;
  margin-top: -12px;
}
.card-container:hover .card-delete-icon {
  display: block;
} 